.idea
/**/obj
/**/bin
/ref
game.nes
/publish
/NEShim/NEShim/games/
NEShim/NEShim.sln.DotSettings.user
/.claude
/TestResults*
/NEShim/TestResults
/CoverageReport
/CoverageResults
**/coverage.cobertura.xml
