<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[BizHawk*]*</Exclude>
          <ExcludeByFile>**/Program.cs,**/MainForm.cs,**/MainForm.Designer.cs,**/GamePanel.cs,**/EmulationThread.cs,**/SteamManager.cs,**/SteamInputManager.cs,**/SteamLanguageResolver.cs,**/D3DOverlayHook.cs,**/D3D11Renderer.cs,**/RendererFactory.cs,**/GdiRenderer.cs,**/PlatformDetector.cs,**/OverlayRenderer.cs,**/LogoRenderer.cs,**/EmulatorHost.cs,**/NeshimFileProvider.cs,**/NullOpenGLProvider.cs,**/MainMenuMusic.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
